# Python
__pycache__/
*.py[cod]

# Virtual environments ONLY
venv/
.env/
.venv/
.korv_env/

# Logs
*.log
log/
logs/

# Odoo runtime
*.lock
*.tmp
*.bak

# Assets
*.css.map
*.js.map

# Node
node_modules/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db